{% extends 'libros/inicio.html' %}
{% block content%}
<div>
    <h2>Libros:</h2>
    <div class="row">
        {%for libro in libros %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 20rem; height: 17rem; margin:2em; text-align: center;">
                <div class="card-header">
                    <a class="btn btn-dark mt-2" href="{% url 'libros:libro' libro.id %}">{{ libro.titulo }}</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{libro.autor}}</li>
                    <li class="list-group-item">{{libro.fecha_publicacion}}</li>
                    <li class="list-group-item">
                        {%if libro.disponible %}
                        Disponible
                        {% else %}
                        No Disponible
                        {% endif %}
                    </li>
                </ul>
                {% if request.user.is_authenticated%}
                <a class="btn btn-primary link-underline-opacity-0" href="{% url 'libros:update_libro' libro.id %}"
                    style="text-align: center;">Editar</a>
                {% if request.user.is_staff%}
                <a class="btn btn-primary mt-2" href="{% url 'libros:delete_libro' libro.id %}">Eliminar</a>
                {% else %}
                <a href="#" class="btn btn-primary  disabled mt-2" tabindex="-1" aria-disabled="true"
                    style="pointer-events: none;">Eliminar</a>
                {%endif%}
                {%else%}
                <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true"
                    style="pointer-events: none;">Editar</a>
                <a href="#" class="btn btn-primary  disabled mt-2" tabindex="-1" aria-disabled="true"
                    style="pointer-events: none;">Eliminar</a>
                {%endif%}
            </div>
        </div>
        {% endfor %}
    </div>
    {%endblock%}